<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	  
    <!-- NuGet.org source -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	  
    <!-- Local source -->
    <add key="local" value="packages/build" />
	  
  </packageSources>
</configuration>
